body {
  background-color: #e9ebee;
}

header {
  background-color: #3b5998;
  color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.header-right {
  display: flex;
  margin-right: 100px;
  font-size: small;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.button {
  background-color: #42b72a;
}

.brief {
  margin-left: 120px;
}

.item {
  display: flex;
  margin-left: 120px;
  margin-top: 40px;
  align-items: center;
}

.item-right {
  background-color: white;
}

h3 {
  margin-left: 160px;
}

.item-image {
  margin-left: 120px;
}

.item-caption {
  text-align: center;
}

.begin1 {
  margin-left: 235px;
  margin-top: 50px;
}

.begin2 {
  margin-left: 250px;
  margin-top: 50px;
}
